<h2 class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</h2>

<ul>
    <li><a class="page-link" href="/udw21/">Home</a></li>
    <li><a class="page-link" href="/udw21/cfp.html">Call for papers</a></li>
    <!--<li><a class="page-link" href="/udw21/submission.html">Submission</a></li>-->
    <li><a class="page-link" href="/udw21/grants.html">Financial aid</a></li>
    <li><a class="page-link" href="/udw21/proceedings.html">Proceedings</a></li>
    <!-- <li><a class="page-link" href="/udw21/registration.html">Registration</a></li> -->
    <li><a class="page-link" href="/udw21/program.html">Program</a></li>
    <li><a class="page-link" href="/udw21/invited-talk.html">Invited talk</a></li>
    <li><a class="page-link" href="/udw21/organization.html">Organization</a></li>
</ul>

<h3>IMPORTANT DATES </h3>
<ul>
    <li><span><del>Sep 6: Announcement of conference modality</del></span></li>
    <li><i>The conference will be held online. </i></li>
    <li><span><del>Sep 27</del> <del>Oct 4 <b>Oct 11</b>: Submission</del>  </span></li>
    <li><span><del>Nov 10: Notification</del></span></li>
    <li><span><del>Nov 30<b> 5 Dec </b>: Camera-readies</del> </span></li>
    <li><span>Mar 21-25: SyntaxFest conference</span></li>
    <i>All deadlines are 11.59 pm UTC -12h (“anywhere on Earth”).</i>
</ul>


<h3>CONTACT</h3>
<ul>
  <li><span><a href="mailto:udw-organisers@googlegroups.com">udw-organisers@googlegroups.com</a></span></li>
  <li> <a href="https://twitter.com/ud_workshop"> Follow @ud_workshop on Twitter</a> </li>
</ul>
