<h2 class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</h2>

<ul>
    <li><a class="page-link" href="/udw20/">Home</a></li>
    <li><a class="page-link" href="/udw20/cfp.html">Call for papers</a></li>
    <!-- <li><a class="page-link" href="/udw20/submission.html">Submission</a></li> -->
    <!-- <li><a class="page-link" href="/udw20/registration.html">Registration</a></li> -->
    <!-- <li><a class="page-link" href="/udw20/program.html">Program</a></li> -->
    <!-- <li><a class="page-link" href="/udw20/organization.html">Organization</a></li> -->
</ul>

<h3>IMPORTANT DATES</h3>
<ul>
    <li>[TBA]</li>
</ul>


<h3>CONTACT</h3>
<ul>
  <li><span><a href="mailto:udw-organisers@googlegroups.com">udw-organisers@googlegroups.com</a></span></li>
</ul>
